{% extends "base.html" %}

{% block title %} Add New Event {% endblock %}

{% block main %}

<section class="container">
    <h1 class="text-center my-4">Add New Event</h1>
    <form method="POST" action="{{ url_for('add_event') }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="eventImage" class="form-label">Event Image</label>
            <input type="file" class="form-control" id="eventImage" name="eventImage" accept="image/*" required>
        </div>
        <div class="mb-3">
            <label for="eventTitle" class="form-label">Title of the event</label>
            <input type="text" class="form-control" id="eventTitle" name="eventTitle" placeholder="Enter event title"
                required>
        </div>
        <div class="mb-3">
            <label for="eventDateTime" class="form-label">Date and time of the event</label>
            <input type="datetime-local" class="form-control" id="eventDateTime" name="eventDateTime" required>
        </div>
        <div class="mb-3">
            <label for="eventDescription" class="form-label">Short description of the event</label>
            <textarea class="form-control" id="eventDescription" name="eventDescription" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="eventBudget" class="form-label">Budget</label>
            <input type="number" class="form-control" id="eventBudget" name="eventBudget" placeholder="Enter budget"
                required min="0">
        </div>
        <div class="d-grid mx-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>

{% endblock %}