{% extends "base.html" %}

{% block title %} University Week {% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-dark text-white vh-100 p-4">
        <ul class="navbar-nav flex-column">
          <li class="nav-item mb-5 h4">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item mb-5 h4">
            <a class="nav-link" href="#">Expenses</a>
          </li>
          <li class="nav-item mb-5 h4">
            <a class="nav-link" href="#">Income</a>
          </li>
          <li class="nav-item mb-5 h4">
            <a class="nav-link" href="#">Transaction History</a>
          </li>
          <li class="nav-item mb-5 h4">
            <a class="nav-link" href="#">Report</a>
          </li>
        </ul>
      </nav>
      <!-- Your website content goes here -->
  </div>
</div>
{% endblock %}