{% extends "base.html" %}

{% block title %} Events Overview {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h1>Events Overview</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="bi bi-plus-lg"></i>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="bi bi-plus-lg"></i>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="bi bi-plus-lg"></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}