{% extends "base.html" %}

{% block title %} Expenses {% endblock %}

{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include "event-sidebar.html" %}
        <main class="col-12 col-md-10">
            <div class="container">
                <h1 class="text-center my-4">Expenses</h1>
                <div class="row g-3 mb-3">
                    <!-- Third row: Table-like container with a heading -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Date & Time</th>
                                    <th>Unit Amount</th>
                                    <th>Price Per Unit</th>
                                    <th>Total Amount</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in event.expenses %}
                                <tr>
                                    <td>{{ expense.expense_id }}</td>
                                    <td>{{ expense.expense_name }}</td>
                                    <td>{{ expense.date_created|localize|strftime }}</td>
                                    <td>{{ "{:,}".format(expense.unit_amount) }}</td>
                                    <td>PHP {{ "{:,.2f}".format(expense.price_per_unit) }}</td>
                                    <td>PHP {{ "{:,.2f}".format(expense.total_amount) }}</td>
                                    <td>{{ expense.category }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ url_for('add_expense', event_id=event.event_id) }}" class="btn btn-primary">Add Expense</a>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}