{% extends "base.html" %}

{% block title %} Income {% endblock %}

{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include "event-sidebar.html" %}
        <main class="col-12 col-md-10">
            <div class="container">
                <h1 class="text-center my-4">Income</h1>
                <div class="row g-3 mb-3">
                    <!-- Third row: Table-like container with a heading -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Date & Time</th>
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for income in incomes %}
                                <tr>
                                    <td>{{ income.id }}</td>
                                    <td>{{ income.income_name }}</td>
                                    <td>{{ income.date_created.strftime('%B %d, %Y %I:%M %p') }}</td>
                                    <td>{{ income.amount }}</td>
                                    <td>{{ income.price }}</td>
                                    <td>{{ income.category }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ url_for('add_income', id=event.id) }}" class="btn btn-primary">Add Income</a>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}