{% extends "base.html" %}

{% block title %} Invite User {% endblock %}

{% block main %}
<section class="container mt-3">
    <h1 class="text-center">Invite User</h1>
    <form action="/invite/{{ event_id }}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
{% endblock %}