{% extends "base.html" %}

{% block title %} Transaction History {% endblock %}

{% block main %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% include "event-sidebar.html" %}
        <main class="col-12 col-md-10">
            <div class="container">
                <h1 class="text-center my-4">Transaction History</h1>
                <!-- Add this form to generate the report -->
                <form action="{{ url_for('generate_report', event_id=event.event_id) }}" method="get">
                    <button type="submit" class="btn btn-primary mb-3">Generate Report</button>
                </form>
                <div class="row g-3 mb-3">
                    <!-- Third row: Table-like container with a heading -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date & Time</th>
                                    <th>Unit Amount</th>
                                    <th>Price Per Unit</th>
                                    <th>Total Amount</th>
                                    <th>Category</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                <tr>
                                    <td>{{ transaction.name }}</td>
                                    <td>{{ transaction.date_created|localize|strftime }}</td>
                                    <td>{{ "{:,}".format(transaction.total_amount) }}</td>
                                    <td>PHP {{ "{:,.2f}".format(transaction.price_per_unit) }}</td>
                                    <td>PHP {{ "{:,.2f}".format(transaction.total_amount * transaction.price_per_unit)
                                        }}</td>
                                    <td>{{ transaction.category }}</td>
                                    <td>{{ transaction.transaction_type }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}