{% extends "base.html" %}

{% block title %} TRACKIT {% endblock %}

{% block body %}
<div class="container mt-3">
    <h1 class="text-center">Update Task</h1>
    <form action="/update/{{ task.id }}" method="post">
        <div class="mb-3">
            <label for="task" class="form-label">Task:</label>
            <input type="text" class="form-control" id="task" name="task" value="{{ task.content }}">
            <label for="category" class="form-label">Task Category:</label>
            <input type="text" class="form-control" id="category" name="category" value="{{ task.category }}">
        </div>
        <button type="submit" class="btn btn-primary">Update Task</button>
    </form>
</div>
{% endblock %}